* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    width: 100vw;
    background: #546A7B;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100px;
}

header p {
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

body {
    background-color: #f7f7f7;
    margin: 0 100px 0 100px;
}

.header {
    color:whitesmoke;
}

.body_header {
    padding: 25px 0 0 10vw;
}

form {
    padding-left: 10vw;
}

form input {
    margin: 10px 0 0 0;
}

form button {
    margin: 10px 0 0 0;
}

#image {
    max-width: 100px;
}

#gallery {
    text-align: center;
}